<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510041293074-lbfmkp03jk747c0hprqn44lvao2dsdao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510041293074-lbfmkp03jk747c0hprqn44lvao2dsdao</string>
	<key>API_KEY</key>
	<string>AIzaSyDooCBpxFx6X5VLhgmyRud7zwBkwZhiOGU</string>
	<key>GCM_SENDER_ID</key>
	<string>510041293074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soundbrew.soundbrew-artists</string>
	<key>PROJECT_ID</key>
	<string>soundbrew-artists</string>
	<key>STORAGE_BUCKET</key>
	<string>soundbrew-artists.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510041293074:ios:185ff0991a41bdcd</string>
	<key>DATABASE_URL</key>
	<string>https://soundbrew-artists.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9150756002517285~6608111231</string>
</dict>
</plist>